@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    margin:0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    background: skyblue;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 50px;
    margin-top: 50px;
}

a{
    text-decoration: none;
    color: rgb(136, 136, 136);
    font-size: 25px;
    text-transform: uppercase;
    transition: 0.2s;
}
h1{
    margin-bottom: 40px;
}
a:hover{
    opacity: 0.5;
    transform: scale(1.5);
}